{% load static %}
<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Palavif platform">
    <meta name="keywords" content="Palavif Platform">
    <meta name="author" content="BoldRight">
    <title>{% block title %}  {% endblock %} - Palavif</title>
    <link rel="apple-touch-icon" href="{% static '/images/ico/apple-icon-120.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static '/images/ico/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="{% static '/vendors/css/vendors.min.css' %}">
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap-extended.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/colors.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/components.css' %}">

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="{% static '/css/core/menu/menu-types/vertical-menu.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/core/colors/palette-gradient.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/pages/authentication.css' %}">
    <!-- END: Page CSS-->

    {% block extra_head %}

    {% endblock %}

    <!-- BEGIN: Custom CSS-->
 <!--    <link rel="stylesheet" type="text/css" href="../../../assets/css/style.css"> -->
    <!-- END: Custom CSS-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>


</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

{% block body %}
<body class="vertical-layout vertical-menu-modern 2-columns  navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="2-columns">


  {% block content %}
  {% endblock %}


{% endblock %}




    <!-- BEGIN: Vendor JS-->
    <script src="{% static '/vendors/js/vendors.min.js' %}"></script>
    <!-- BEGIN Vendor JS-->



  {% block page_scripts %}

  {% endblock %}


    <!-- BEGIN: Theme JS-->
    <script src="{% static '/js/core/app-menu.js' %}"></script>
    <script src="{% static '/js/core/app.js' %}"></script>
    <script src="{% static '/js/scripts/components.js' %}"></script>
    <!-- END: Theme JS-->

    <!-- BEGIN: Page JS-->
    <!-- END: Page JS-->

</body>
<!-- END: Body-->

</html>