{% extends 'base.html' %}
{% load static %}


{% block content %}

	{% include 'header.html' %}

	{% include 'sidenav.html' %}

    	{% block dashcontent %}
    	{% endblock %}

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN: Footer-->
    <footer class="footer footer-static footer-light">
        <p class="clearfix blue-grey lighten-2 mb-0"><span class="float-md-left d-block d-md-inline-block mt-25">COPYRIGHT &copy; 2020<a class="text-bold-800 grey darken-2" href="#">Bold-Right,</a>All rights Reserved</span>
            <button class="btn btn-primary btn-icon scroll-top" type="button"><i class="feather icon-arrow-up"></i></button>
        </p>
    </footer>
    <!-- END: Footer-->



    <!-- BEGIN: Page Vendor JS-->
    <script src="{% static '/vendors/js/forms/select/select2.full.min.js' %}"></script>
    <script src="{% static '/vendors/js/forms/validation/jqBootstrapValidation.js' %}"></script>
    <script src="{% static '/vendors/js/pickers/pickadate/picker.js' %}"></script>
    <script src="{% static '/vendors/js/pickers/pickadate/picker.date.js' %}"></script>
    <script src="{% static '/vendors/js/extensions/dropzone.min.js' %}"></script>
    <!-- END: Page Vendor JS-->

    	{% block pagejs %}
    	{%  endblock %}

{% endblock %}
