
    <!-- BEGIN: Main Menu-->
    <div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
        <div class="navbar-header">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item mr-auto"><a class="navbar-brand" href="{% url 'dashboard' %}">
                       <!--  <div class="brand-logo"></div>
                         --><h2 class="brand-text mb-0">Palavif</h2>
                    </a></li>
                <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i class="feather icon-x d-block d-xl-none font-medium-4 primary toggle-icon"></i><i class="toggle-icon feather icon-disc font-medium-4 d-none d-xl-block collapse-toggle-icon primary" data-ticon="icon-disc"></i></a></li>
            </ul>
        </div>
        <div class="shadow-bottom"></div>
        <div class="main-menu-content">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">

                
                <li class=" nav-item"><a href="{% url 'dashboard' %}"><i class="feather icon-box"></i><span class="menu-title" data-i18n="Profile">Dashboard</span></a>
                </li>
                <li class="nav-item"><a href="{% url 'account-profile' %}"><i class="feather icon-user icon-user"></i><span class="menu-title" data-i18n="Account Settings">Profile</span></a>
                </li>
                <li class=" nav-item"><a href="{% url 'earnings' %}"><i class="feather icon-trending-up"></i><span class="menu-title" data-i18n="Earnings">Earnings</span></a>
                </li>
                <li class=" nav-item"><a href="{% url 'affliates' %}"><i class="feather icon-zap"></i><span class="menu-title" data-i18n="Affliates">Affliates</span></a>
                </li>
                <li class=" nav-item"><a href="{% url 'adverts' %}"><i class="feather icon-search"></i><span class="menu-title" data-i18n="Adverts">Adverts</span></a>
                </li>
                <li class="nav-item"><a href="{% url 'bill-payment' %}"><i class="feather icon-settings"></i><span class="menu-title" data-i18n="Bill Payment">Bill Payment</span></a>
                </li>
                <li class="nav-item"><a href="{% url 'account-settings' %}"><i class="feather icon-settings"></i><span class="menu-title" data-i18n="Settings">Settings</span></a>
                </li>
                <li class="nav-item"><a href="#"><i class="feather icon-info"></i><span class="menu-title" data-i18n="FAQ">FAQ</span></a>
                    <ul class="menu-content">
                        <li><a href="../../../starter-kit/ltr/vertical-menu-template-dark/sk-layout-2-columns.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="2 columns">2 columns</span></a>
                        </li>
                        <li><a href="../../../starter-kit/ltr/vertical-menu-template-dark/sk-layout-fixed-navbar.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Fixed navbar">Fixed navbar</span></a>
                        </li>
                        <li><a href="../../../starter-kit/ltr/vertical-menu-template-dark/sk-layout-floating-navbar.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Floating navbar">Floating navbar</span></a>
                        </li>
                        <li><a href="../../../starter-kit/ltr/vertical-menu-template-dark/sk-layout-fixed.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Fixed layout">Fixed layout</span></a>
                        </li>
                    </ul>
                </li>
                
            </ul>
        </div>
    </div>
    <!-- END: Main Menu-->