
    <!-- BEGIN: Main Menu-->
<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow expanded" data-scroll-to-active="true" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
        <div class="navbar-header expanded">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item mr-auto"><a class="navbar-brand" href="{% url 'dashboard' %}">
                       <!--  <div class="brand-logo"></div>
                         --><h2 class="brand-text mb-0">Palavif</h2>
                    </a></li>
              <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0 shepherd-modal-target" data-toggle="collapse"><i class="icon-x d-block d-xl-none font-medium-4 primary toggle-icon feather icon-disc"></i><i class="toggle-icon font-medium-4 d-none d-xl-block collapse-toggle-icon primary feather icon-disc" data-ticon="icon-disc" tabindex="0"></i></a></li>
            </ul>
        </div>
        <div class="shadow-bottom"></div>
        <div class="main-menu-content ps ps--active-y" style="height: 851px;">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">

                
                <li class=" nav-item"><a href="{% url 'dashboard' %}"><i class="feather icon-box"></i><span class="menu-title" data-i18n="Profile">Dashboard</span></a>
                </li>
                <li class="nav-item"><a href="{% url 'account-profile' %}"><i class="feather icon-user icon-user"></i><span class="menu-title" data-i18n="Account Settings">Profile</span></a>
                </li>
                <li class=" nav-item"><a href="{% url 'earnings' %}"><i class="feather icon-trending-up"></i><span class="menu-title" data-i18n="Earnings">Earnings</span></a>
                </li>
                <li class=" nav-item"><a href="{% url 'affliates' %}"><i class="feather icon-zap"></i><span class="menu-title" data-i18n="Affliates">Affliates</span></a>
                </li>
                <li class=" nav-item"><a href="{% url 'adverts' %}"><i class="feather icon-search"></i><span class="menu-title" data-i18n="Adverts">Adverts</span></a>
                </li>
                <li class="nav-item"><a href="{% url 'bill-payment' %}"><i class="feather icon-settings"></i><span class="menu-title" data-i18n="Bill Payment">Bill Payment</span></a>
                </li>
                <li class="nav-item"><a href="{% url 'account-settings' %}"><i class="feather icon-settings"></i><span class="menu-title" data-i18n="Settings">Settings</span></a>
                </li>
                <li class="nav-item"><a href="{% url 'account-settings' %}"><i class="feather icon-settings"></i><span class="menu-title" data-i18n="Settings">FAQ</span></a>
                </li>               
            </ul>
     <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; height: 830px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 266px;"></div></div></div>
    </div>
        </div>
    </div>
    <!-- END: Main Menu-->